.App {

}


.active{
    font-weight: bold;
    color: white;
}


.page-title{
    @apply text-xl font-semibold border-b-2 border-blue-600/60 w-max
}

.container{
    @apply max-w-screen-lg mx-auto px-4;
}

button{
    user-select: none;
}

button[disabled]{
    background: #bbd5ff !important;
    color: #878787 !important;
    pointer-events: none;
}

input[disabled]{
    background: #e5edff !important;
    color: #878787 !important;
    pointer-events: none;
}

.modal{
    max-height: 80vh;
    overflow-y: auto;
    padding: 30px;
}
.modal::-webkit-scrollbar{
    width: 0;
    height: 0;
}